.form {
  position: relative;
  ::placeholder {
    /* Chrome/Opera/Safari/Firefox */
    color: #ffffff;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
  }
  &__title {
    font-family: "ProximaNovaExtraCondenced", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #ffffff;
  }
  &__items {
    display: flex;
  }
  &__item {
    flex: 1 0;
  }
  &__input {
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid #ffffff;
    height: 60px;
    font-size: 20px;
    line-height: 1.1;
    color: #ffffff;
    padding: 0 24px;
    -webkit-appearance: none;
    outline: none;
    &_textarea {
      min-height: 100px;
      height: auto;
    }
    &:hover {
      border: 1px solid #bdbdbd;
    }
    &.error {
      border: 1px solid #ed1c24 !important;
      &::placeholder {
        /* Chrome/Opera/Safari/Firefox */
        color: #ed1c24 !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #ed1c24 !important;
      }
    }
    &.valid {
      border: 1px solid #219653 !important;
      color: #219653 !important;
      &::placeholder {
        /* Chrome/Opera/Safari/Firefox */
        color: #219653 !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #219653 !important;
      }
    }

    option{
      color: #000;
    }
  }
  &__button {
    border: 0;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  &__select,
  &__file {
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid #ffffff;
    height: 60px;
    font-size: 20px;
    line-height: 1.1;
    // color: #ffffff;
    padding: 0 24px;
    -webkit-appearance: none;
    outline: none;
  }
  &__footer {
    display: block;
    position: relative;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.51);
    cursor: pointer;

    &-checkbox {
      width: 13px;
      height: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      background: #3400ec;
      input {
        display: none;
      }
      &-icon:before {
        content: url("../img/form/check.png");
        display: none;
        input:checked + & {
          display: block;
        }
      }
    }
    &-text {
      padding-left: 25px;
      & a {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  label {
    font-size: 14px;
    display: block;
  }

  &_vertical {
    max-width: 360px;
    padding: 33px 35px 45px;
    .form__title {
      font-size: 32px;
    }
    .form__items {
      flex-direction: column;
    }
    .form__item {
      margin-bottom: 20px;
    }
    .form__button {
      margin-bottom: 0;
    }
  }

  &_gorizontal {
    .form__items {
      margin-bottom: 22px;
    }
    .form__item {
      margin-right: 13px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

label.error {
  display: none !important;
}

.widget-form-privacy {
  display: none !important;
}

.send-success {
  color: #a5a3a3;
}
