.speakers {
  padding: 90px 0;
  &__title {
    margin-bottom: 50px;
  }
  &__pretitle{
    font-family: "ProximaNovaExtraCondenced", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #001059;
    max-width: 910px;
    margin: 0 auto 25px;
    &-text{
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 150%;
      text-align: center;
      color: #000051;
      max-width: 910px;
      margin: 0 auto 125px;
    }
  }
  &__bureau{
    margin-top:  100px;
  }


  //Общие стили для карточки
  &-card {
    height: 100%;
    min-height: 465px;
    display: flex;
    background: #f3f3f7;
    color: #001059;
    padding: 40px 40px 20px;
    position: relative;
    transition: 0.3s;
    &__img {
      position: relative;
      width: 100%;
      & span {
        display: block;
        position: absolute;
        content: "";
        width: 124%;
        max-width: 200px;
        max-height: 200px;
        height: 125%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      // &::before,
      // &::after {
      //   position: absolute;
      //   content: "";
      //   z-index: 1;
      // }
      & img {
        position: relative;
        border-radius: 50%;
      }
    }
    &__text {
      flex: 1;
    }
    &__name {
      font-family: "ProximaNovaExtraCondenced", sans-serif;
      font-weight: 800;
      font-size: 46px;
      line-height: 0.9;
      text-transform: uppercase;
      color: #000051;
      margin-bottom: 15px;
    }
    &__descr {
      font-size: 17px;
    }
    &__button {
      cursor: pointer;
      background: #244fe9;
      font-family: "ProximaNovaCondenced";
      font-weight: 900;
      font-size: 17px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      width: 100%;
      height: 65px;
			margin-top: 20px;
			&-text {
				text-align: center;
				width: 100%;
			}
      &-icon {
        display: block;
        width: 60px;
        height: 65px;
        background: url("../img/common/download_icon.png") no-repeat center center;
        border-left: 1px solid #173dc6;
      }
      &:hover,
      &:active,
      &:focus,
      &:visited {
        text-decoration: none;
        color: #ffffff;
      }
    }
    &__more {
      display: none;
    }

    //Стили для маленькой карточки
    &_sm {
      flex-direction: column;
    }
    &_sm & {
      &__img {
        margin-bottom: 20px;
        max-width: 182px;
        align-self: center;
      }
    }

    //Стили для большой карточки
    &_lg {
      min-height: 280px;
      align-items: center;
      padding: 10px 90px;
    }
    &_lg & {
      &__content {
        flex: 1 0 70%;
      }
      &__img {
        flex-basis: 196px;
        & span {
          width: 124%;
          max-width: 245px;
          max-height: 245px;
          height: 125%;
          background: url("../img/speakers/decor/circle_lg.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_lg.png") no-repeat 0 0 / cover;
          top: 25%;
          right: -20%;
          width: 80px;
          height: 60px;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_lg.png") no-repeat 0 0 / cover;
          bottom: -5%;
          left: -10%;
          width: 86px;
          height: 80px;
        }
      }
      &__text {
        margin-bottom: 20px;
      }
      &__name {
        font-size: 68px;
      }
      &__descr {
        font-size: 20px;
        max-width: 500px;
      }
    }
    // Ghost
    &_ghost & {
      &__img {
        margin-bottom: 40px;
      }
      &__name {
        text-align: center;
        font-size: 40px;
      }
    }
  }
  &__col {
    padding-bottom: 25px;
    //Decor
    &:nth-child(8n + 1) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_1.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_1.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 55px;
          top: -15%;
          left: -10%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_1.png") no-repeat 0 0 / cover;
          width: 95px;
          height: 85px;
          bottom: -10%;
          right: -15%;
        }
      }
    }
    &:nth-child(8n + 2) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_2.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_2.png") no-repeat 0 0 / cover;
          width: 90px;
          height: 85px;
          top: 0%;
          left: -25%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_2.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 55px;
          bottom: -15%;
          right: -10%;
        }
      }
    }
    &:nth-child(8n + 3) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_3.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_3.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 50px;
          top: -15%;
          left: -10%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_3.png") no-repeat 0 0 / cover;
          width: 90px;
          height: 82px;
          bottom: 0%;
          right: -17%;
        }
      }
    }
    &:nth-child(8n + 4) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_4.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_4.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 60px;
          top: -15%;
          right: -10%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_4.png") no-repeat 0 0 / cover;
          width: 70px;
          height: 80px;
          bottom: -10%;
          left: -5%;
        }
      }
    }
    &:nth-child(8n + 5) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_5.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_5.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 60px;
          top: -15%;
          right: -10%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_5.png") no-repeat 0 0 / cover;
          width: 84px;
          height: 76px;
          bottom: 0%;
          left: -20%;
        }
      }
    }
    &:nth-child(8n + 6) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_6.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_6.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 55px;
          top: -15%;
          left: -5%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_6.png") no-repeat 0 0 / cover;
          width: 85px;
          height: 80px;
          bottom: 0%;
          right: -20%;
        }
      }
    }
    &:nth-child(8n + 7) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_7.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_7.png") no-repeat 0 0 / cover;
          width: 100px;
          height: 84px;
          top: -5%;
          left: -30%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_7.png") no-repeat 0 0 / cover;
          width: 65px;
          height: 55px;
          bottom: -15%;
          right: -10%;
        }
      }
    }
    &:nth-child(8n + 8) {
      .speakers-card__img {
        span {
          background: url("../img/speakers/decor/circle_sm_8.png") no-repeat 0 0 / cover;
        }
        &::before {
          background: url("../img/speakers/decor/img_icon-top_sm_8.png") no-repeat 0 0 / cover;
          width: 100px;
          height: 90px;
          top: -20%;
          right: -20%;
        }
        &::after {
          background: url("../img/speakers/decor/img_icon-bottom_sm_8.png") no-repeat 0 0 / cover;
          width: 60px;
          height: 60px;
          bottom: -10%;
          left: -5%;
        }
      }
    }
    // Скрыть спикеров
    &[data-more-hidden] {
      padding-bottom: 0;
      .speakers-card {
        position: absolute;
        top: 9999px;
        left: -9999px;
        opacity: 0;
      }
    }
  }
  &__more-btn {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ProximaNovaCondenced";
    font-weight: 900;
    font-size: 47px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #0d53d8;
    cursor: pointer;
    position: relative;
    & img {
      margin-left: -30px;
      max-width: 15%;
    }
    & span {
      text-align: right;
    }
  }
}
